{% extends 'user.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
<div class="grix xs2">
  <div>Name: </div>
  <div>{{ app.user.name }}</div>
  <div>Lastname: </div>
  <div>{{ app.user.lastname }}</div>
  <div>Email: </div>
  <div>{{ app.user.email }}</div>
</div>
{% endblock %}
